body {
    background-image:url('../images/bg-pattern.png');
    background-repeat:repeat-xy;
}

.verticalCenter {
    background: url('../images/white-pattern.png') repeat-x;
    width: 100%;
    height: 312px;
    position: absolute;
    left: 0%;
    top: 50%; 
    margin-top: -156px;
}

.separator {
    float: center;
}
.separator {
    background: url("../images/separator.png") no-repeat scroll;
    display: block;

    width: 708px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -354px;
    margin-top: 0px;
}

.email {
    float: center;
}
.email a {
    background: url("../images/email-button.png") no-repeat scroll;
    display: block;

    width: 43px;
    height: 63px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -166px;
    margin-top: 24px;
}
.email a:hover {
    background: url("../images/email-button-pressed.png") no-repeat scroll 0 0 transparent;
}

.linkedin {
    float: left;
    margin-top: 0;
}
.linkedin a {
    background: url("../images/linkedin-button.png") no-repeat scroll;
    display: block;

    width: 63px;
    height: 63px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -31px;
    margin-top: 24px;
}
.linkedin a:hover {
    background: url("../images/linkedin-button-pressed.png") no-repeat scroll 0 0 transparent;
}

.github {
    float: left;
    margin-top: 0;
}
.github a {
    background: url("../images/github-button.png") no-repeat scroll;
    display: block;

    width: 51px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: 122px;
    margin-top: 24px;
}
.github a:hover {
    background: url("../images/github-button-pressed.png") no-repeat scroll 0 0 transparent;
}


@font-face {
    font-family: 'ukrainiancompactregular';
    src: url('../fonts/ukrainiancompact-webfont.eot');
    src: url('../fonts/ukrainiancompact-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ukrainiancompact-webfont.woff') format('woff'),
         url('../fonts/ukrainiancompact-webfont.ttf') format('truetype'),
         url('../fonts/ukrainiancompact-webfont.svg#ukrainiancompactregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: 'ukrainiancompactregular', Arial, sans-serif; 
    font-size: 80px;
    color: #2f6548;
    
    float: left;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -306px;
    margin-top: -89px;
}

.place {
    font-family: 'Trebuchet MS', Arial, sans-serif; 
    font-size: 16px;
    color: #2f6548;
    
    float: left;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: 155px;
    margin-top: -24px;
}

