Package: me.dvor.antidote
Name: Antidote
Version: 0.2-1
Architecture: iphoneos-arm
Description: Tox client for iOS.
Homepage: https://github.com/dvor/Antidote
Depiction: https://github.com/dvor/Antidote
Maintainer: Dmitry Vorobyov <d@dvor.me>
Author: Dmitry Vorobyov <d@dvor.me>
Section: Messaging
